.login-container {
  width: 100%;
  height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  text-align: center;
}

.login-box h1 {
  font-size: 28px;
  margin-bottom: 5px;
  color: #2b59ff;
}

.login-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

.login-input:focus {
  border-color: #2b59ff;
}

.login-submit {
  width: 100%;
  padding: 12px;
  background: #2b59ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.login-submit:hover {
  background: #1f44d4;
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}

.signup-link {
  color: #2b59ff;
  cursor: pointer;
  font-weight: bold;
}

.back-home {
  margin-top: 18px;
  background: transparent;
  border: none;
  color: #2b59ff;
  cursor: pointer;
  font-size: 14px;
}
